body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: 'Lacquer', cursive;
    font-size: 16px;
    /* Tamaño de letra más grande */
}

p {
    font-weight: bold;
    color: white;
    font-family: 'Lacquer', cursive;
    font-size: 18px;
    /* Tamaño de letra más grande */
    /* Aplica la fuente 'Lacquer' */
}