body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: 'Lacquer', cursive;
    font-size: 16px;
}

p {
    font-weight: bold;
    color: white;
    font-family: 'Lacquer', cursive;
    font-size: 18px;
}

textarea {
    font-weight: bold;
    font-size: 20px;
    /* Larger font size */
    width: 100%;
    /* Make the textarea take up the full width of its container */
    padding: 10px;
    /* Add padding for better positioning */
    box-sizing: border-box;
    /* Include padding in the total width */
}